html {
  scroll-behavior: smooth;
}

body {
  padding-top: 60px;
}

/* https://github.com/twbs/bootstrap/issues/1768 */
*[id]:before { 
  display: block; 
  content: " "; 
  margin-top: -60px; 
  height: 60px; 
  visibility: hidden; 
}